.itemCSS{
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 0.3rem;
  background-image: var(--bs-gradient);
  background-color: rgba(var(--bs-primary-rgb));
  color: white;
  margin-bottom: 1.5rem;
  margin-top: -1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}